ul{
	list-style: none;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 0.5px;
	margin-top: 0px;
	background: #277af3;
	height: 47%;
	width: 700px;
}

a{
	margin: 5px;
	border-radius: 10px;
	text-decoration: none;
	background: #277af3;
	padding: 0px 30px;
	color: white;
	font-family: arial;
	line-height: 50px;
	display: block;
	border-right: 1px solid #677B27;
	overflow: hidden;
	-webkit-transition: all 0.3s 0.01s ease;
	-moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
}

a:hover {
	background: #D43737;
}

li{
	float: left;
	position: relative;
}

	li > ul{
		position: absolute;
		top: 50px;
		display: none;
}

	li:hover > ul {
        display:block; 
        width:300px;
}

	li:hover > ul > li{
		float: none;
}
/*video*/

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;